.A{
    text-align: center;
    padding-top: 250px;
    color: rgb(56, 23, 204);
}

.a{
    background-color: rgb(9, 9, 101);
    color: rgb(141, 143, 239);
    font-style: normal;
    font-size: 25px;
}